.business-card__detail {
    text-align: center;
    padding: 30px;
}

.business-card__detail i {
    font-size: 2rem;
    color: #f97966;
}

.business-card__detail h3 {
    font-size: 1.5rem;
    margin: 15px;
}

.business-card__detail p {
    color: #a7a3a3;
    font-size: 0.9rem;
}

.bussines__banner {
    margin-top: 50px;
    background-image: url("../../img/3.jpg");
    background-attachment: fixed;
    position: relative;
}

.bussines__banner__slogan h2 {
    font-size: 2.4rem;
    letter-spacing: 2px;
    font-weight: 400;
}


.bussines__banner__contact button {
    border-radius: 0px;
    border: 1px solid transparent;
    background-color: #8f7af9;
}

