.testimonials--config {
}

.card--border-none {
    border: none;
    text-align: center;
}

.card-body--config img {
    width: 90px !important;
    height: 90px;
    margin: 0 auto;
    border-radius: 100%;
    border: 3px solid #8f7af9;
}

.card-body--config h4 {
    font-size: 1.2rem;
    color: rgb(53, 51, 51);
}

.card-body--config p {
    color: #a7a3a3;
    font-size: 0.9rem;
}

.testimonials--config .owl-dots .owl-dot span {
    background-color: #f97c69a9;
}

.testimonials--config .owl-dots .owl-dot.active span, 
.testimonials--config .owl-dots .owl-dot:hover span {
    background-color: #f35f48;
}