/* Extra small */
@media screen and (max-width: 576px) {
    .carousel-caption--config {
        bottom: 10%;
    }
    
    .carousel-caption--config h2 {
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: 5px;
    }
    
    .carousel-caption--config p {
        margin: 20px 0;
    }
    

    .carousel-indicators--config {
        bottom: 0%;
    }

    .carousel-caption--config button {
        font-size: 0.8rem;
    }

    /* BUSINESS SLOGAN */
    .bussines__banner__slogan h2{
        font-size: 1.4rem;
        margin-top: 20px;
    }
    
}

/* Small */
@media screen and (min-width: 577px) and (max-width: 767px) {
    .carousel-caption--config {
        bottom: 15%;
    }
    
    .carousel-caption--config h2 {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 5px;
    }
    
    .carousel-caption--config p {
        margin: 20px 0;
    }
    

    .carousel-indicators--config {
        bottom: 5%;
    }

    /* BUSINESS */

    .business-card__detail i {
        font-size: 2rem;
    }
    
    .business-card__detail h3 {
        font-size: 1rem;
    }
    
    .business-card__detail p {
        font-size: 0.7rem;
    }


    /* BUSINESS SLOGAN */
    .bussines__banner__slogan h2{
        font-size: 1.6rem;
    } 
}

/* Medium */

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* CAROUSEL */
    .carousel-caption--config {
        bottom: 20%;
    }
    
    .carousel-caption--config h2 {
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: 5px;
    }
    
    .carousel-caption--config p {
        margin: 20px 0;
    }
    

    .carousel-indicators--config {
        bottom: 5%;
    }

    /* BUSINESS SLOGAN */
    .bussines__banner__slogan h2{
        font-size: 2rem;
        margin-top: 0px;
    }
    
    .bussines__banner__contact button {
        /* position: relative; */
    }
    
}

/* Large */

@media screen and (min-width: 992px) and (max-width: 1199px) {
    /* BUSINESS SLOGAN */
    .bussines__banner__slogan h2{
        font-size: 2.2rem;
    }
    
}

@media screen and (min-width: 1200px) {

}